<h3>Excursion Details: </h3>
<p>
  Subject: {{excursionEvent.subject}} <br>
  Location: {{excursionEvent.location}}<br>
  Date: {{excursionEvent.eventDateTime.toLocaleDateString()}}
</p>
<p>
    <button mat-raised-button (click)="onBackToListClick()">Back to list</button>
</p>

<mat-button-toggle-group name="event" aria-label="event management">
    <mat-button-toggle (click)="onNotesClick()" style="margin:3px;" value="notes">View Notes</mat-button-toggle>
    <mat-button-toggle (click)="onEditClick()" style="margin:3px;" value="edit">Edit Event</mat-button-toggle>
  </mat-button-toggle-group>

<hr>

<router-outlet></router-outlet>
