
<button mat-raised-button color="primary" routerLink="/event/new" routerLinkActive="router-link-active" >New Excursion Event</button>
<hr>
<mat-accordion>
  <mat-expansion-panel *ngFor="let excursionEvent of excursionEvents" style="margin:20px;">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{excursionEvent.subject}}
      </mat-panel-title>
      <mat-panel-description>
        Place: {{excursionEvent.location}} <br>
        Date Time: {{excursionEvent.eventDateTime.toLocaleDateString()}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <button [routerLink]="['/event',excursionEvent.id]" routerLinkActive="router-link-active" mat-raised-button color="primary"
      matBadge="{{excursionEvent.eventNotes.length}}" matBadgePosition="before" matBadgeColor="accent">
      View Details
    </button>
  </mat-expansion-panel>
</mat-accordion>
