<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="row">
          <div class="col-sm-5 form-group">
            <label for="subject">Event Subject</label>
            <input type="text" id="name" class="form-control" ngModel name="subject" required>
          </div>
          <div class="col-sm-2 form-group">
            <label for="location">Location</label>
            <input type="text" id="location" class="form-control" ngModel name="location" required>
          </div>
          <!-- <div class="col-sm-2 form-group">
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Choose a date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div> -->
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-success" type="submit" [disabled]="!f.valid">{{ editMode ? 'Update': 'Add' }}</button>
            <button class="btn btn-danger" type="button" *ngIf="editMode" (click)="onDelete()">Delete</button>
            <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
